PORT=14875
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=cambia_esta_clave_secreta

# Opcion A: Conexion clasica
DB_HOST=tu-host-aiven
DB_PORT=tu-puerto-aiven
DB_USER=tu-usuario-aiven
DB_PASSWORD=tu-password-aiven
DB_NAME=cafe_artesanal

# Opcion B: URL unica (prioridad si existe)
# DB_URL=mysql://usuario:password@host:puerto/cafe_artesanal

# SSL para Aiven
DB_SSL=true
# DB_SSL_MODE=require
DB_SSL_MODE=verify-ca
# DB_SSL_CA=-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----
DB_SSL_CA_FILE=./ca.pem

# Pool
DB_CONNECTION_LIMIT=10
DB_CONNECT_TIMEOUT_MS=10000
DB_KEEP_ALIVE=true

VITE_API_URL=http://localhost:14875/api
